*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height:100vh;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background: rgb(78, 2, 192);
}

.wrapper{
    min-width: 610px;
    width: 770px;
    padding: 35px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

.wrapper .input-field{
    padding: 13px 20px 0;
    position: absolute;
    opacity: 0;
    z-index: -99;
}


.content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}

.content-box .result-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%-140px);
    gap: 60px
}
 
.result-details li{
    display: flex;
    height: 20px;
    list-style: none;
    align-items: center;
}

.content button{
    width: 105px;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(106, 0, 255);
    padding: 8px 0;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.106);
    transition: transform 0.3s ease;
}

.content button:active{
    transform: scale(0.98);
}

.typing-text p span{
    position: relative;
}

.typing-text p span.current{
    color:rgb(93, 0, 255);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: underline;
}

.typing-text p span.correct{
    color: rgb(7, 215, 7);
    font-weight: bold;
}

.typing-text p span.incorrect{
    color: red;
    outline: 1px solid #fff;
    background: #ffc0cb;
    font-weight: bold;
    border-radius: 4px;
}

::selection{
    background: #ffc0cb;
}